<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
  </head>
  <body>

    <header class="header" >
      <div class="img-header" >
        <img src="/img/logo3.png" alt="">
      </div>

    </header>
    <main class="main" >
      <div class="div-img" >
        <img src="/img/sensei.jpg" alt="">
        <div class="overlay">
          <img  src="/img/logo2.png" alt="" >
        </div>
      </div>

      <div class="div-btn">
        <p>Começar agora</p>
        <a class="btn btn-success" href="/alunos">Entrar</a>
      </div>

      <div class="div-text">
        <h3>Descrição</h3>
        <p>
          Meu projeto é uma plataforma web para gerenciamento de listas de alunos. 
          Ele permite que os professores adicionem, editem e excluam alunos da lista, 
          com opções de cadastro incluindo nome, e-mail, curso, matrícula e turno. Ele 
          também oferece a possibilidade de outras pessoas interessadas em gerenciar a 
          lista, mas o foco principal é facilitar a gestão dos professores. Com esta 
          ferramenta, os professores podem gerenciar facilmente suas listas de alunos, 
          garantindo que as informações estejam sempre atualizadas e acessíveis. Além disso, 
          as informações são armazenadas em um banco de dados seguro, garantindo a privacidade 
          dos alunos.
        </p>
      </div>
    </main>

    <footer class="footer" >
      <p>Site feito com propositos academicos | ©MyList Team</p>
    </footer>

  </body>
</html>
